.footer {
    background-color: darken($grey, 75%);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.footer__container {
    @extend .max-container;
}

.footer__list {
    display: flex;
    margin-bottom: 10px;
}

.footer__icon--size {
    font-size: 10px;
}

.footer__icon {
    margin-right: 10px;
}