.footer {
    background-color: darken($grey, 75%);
    padding: 30px 0;
    color: white;

    &__container {
        @extend .max-container;
    } 
}

.footer__list {
    display: flex;
    margin-bottom: $margin-s;
}

.footer__icon {
    margin-right: $margin-s;
}

.footer__icon--size {
    font-size: 10px;
}

.footer__contact {
    color:white;
}