.header {
    position: relative;
    z-index: 1;
    padding: $padding-m;
    text-align: center;
    box-shadow: $net-shadow;
    background-color: white;
    vertical-align: middle;
}

.header__container {
    position: relative;
    @extend .max-container;
}

.header__container-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

