.header {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    box-shadow: $net-shadow;
    background-color: white;
    vertical-align: middle;

    &__container {
        position:relative;
        @extend .max-container;
    }
    
    &__icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}
