//conteneur taille max du site
.max-container {
    max-width: 1400px;
    margin: auto;
    padding: 0 $padding-m;
   }

//comportement des images dans leur conteneur
.img-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//centrer un élément en absolute dont la taille est indéfinie

.absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}