//conteneur taille max du site
.max-container {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
   }

//comportement des images dans leur conteneur
.img-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}