/*conteneur taille max du site*/

@mixin max-container ($width-max: $max-width) {
    max-width: $width-max;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
   }

/*comportement des images dans leur div*/

@mixin img-size () {
    width: 100%;
    height: 100%;
    object-fit: cover;
}