// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------*

// original name of colors 
$medium-purple:#9356DC;
$blush-pink: #FF79DA;
$morning-glory: #99E2D0;

//colors

$primary-color: $medium-purple;
$secondary-color: $blush-pink;
$tertiary-color: $morning-glory;

//grey
$grey-light: rgb(246,246,246);
$grey-medium: rgb(234,234,234);
$grey-dark: rgb(56,56,56);
$grey-icon: rgb(126,126,126);

//Shadow
$net-shadow: 0px 3px 5px rgb(170, 170, 170);
$dark-shadow: 0px 5px 10px rgb(150, 150, 150);
$blur-shadow: 0px 10px 15px rgb(230, 230, 230);

//step round size
$step__round-size: 25px;

//website max width
$max-width: 1400px;