// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------*

// original name of colors 
$medium-purple:#9356DC;
$blush-pink: #FF79DA;
$morning-glory: #99E2D0;

//colors

$primary-color: $medium-purple;
$secondary-color: $blush-pink;
$tertiary-color: $morning-glory;

//grey
$grey: rgb(246,246,246);
$grey-icon: rgb(126,126,126);

//step round size
$step__round-size: 25px;