@keyframes gradual-onset {
    from {
        opacity:0;
        transform: translateY(40%);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
} 

@keyframes plate-selection {
    from {
        transform: translateX(100%);
        width: 0;
    }
    to {
        transform: translateX(0);
        width: 20%;
    }
}

@keyframes rotation {
    from { 
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}