// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-width: 315px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  h1, h2, h3, h4 {
    margin-top:0;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  h3, h4 {
    margin-bottom: $margin-xs;
  }
  
  p {
    margin: 0;
  }
  
  input, button {
    outline: 0;
  }

  button {
    border: none;
    cursor: pointer;
  }