// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px; //temporaire
  }
  
  /* Basic styles for links */
  a {
    text-decoration: none;
  }
  