@keyframes gradual-onset {
    from {
        opacity:0;
        transform: translateY(40%);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
} 

@keyframes check-box {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
}

@keyframes rotation {
    from { 
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}

@keyframes loader-bg {
    0% {
        visibility:visible;
    }
}

@keyframes gradient-appear {
    from { 
        width: 0;
    }
    to {
        width: 100%;
    }
}