/**
 * Basic typography style
 */

 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);
 @import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);

//typography grid

$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-serif: 'Shrikhand', Georgia, serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-regular;
  font-size: 1rem;
}

h1 {
  margin-top:0;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

p {
  margin: 0;
}