//basic typography style

 @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);
 @import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);


 //typography comportment
body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-regular;
  font-size: 1rem;
}

//typography comportement in menu page

.menu__title-restaurant {
  font-family: $font-family-serif;
  letter-spacing: 0.05rem;
}

.menu__title {
  font-weight: $font-weight-light;
  text-transform: uppercase;
  margin-top: 40px;
}