//bouton qui appelle à l'action: rechercher un resto, commander...

.button-active {
    position: relative;
    padding: $padding-m;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: $border-radius-l;
    box-shadow: $dark-shadow;
    transition: box-shadow 0.5s ease-out;
    
    &:hover {
        box-shadow: $very-dark-shadow;
        &::after {
            opacity:1;
        }
    }
    &::after {
        content:"";
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-l;
        background: rgba(255, 255, 255, 0.15);
        transition: opacity 0.5s ease-out;
    }

    .button-active__text {
        color: white;
    }
}

.button-active--larger {
    padding: $padding-m $padding-l;
}

//bouton avec étapes

.button-step {
    flex-grow: 1;
    display: flex;
    position: relative;
    padding: $padding-l;
    background-color: $grey;
    border-radius: $border-radius-m;
    margin: {
        right: $margin-m;
        bottom: $margin-m;
        left: $step__round-size /2;
    }
    box-shadow: $blur-shadow;
    transition: box-shadow 0.5s ease-out;
    
    &:hover {
        background-color: lighten($grey, 1%);
        box-shadow: $dark-shadow;
    }
}

.button-step--active {
    background-color: #f5edff;
    transition-duration: 0.5s;
    
    &:hover {
        background-color: lighten(#f5edff, 1%);
    }
}

.button-step__round {
    position: absolute;
    text-align: center;
    width: $step__round-size;
    height: $step__round-size;
    border-radius: $border-radius-xl;
    background-color: $primary-color;
    color: white;
    line-height: $step__round-size;
    left: -$step__round-size /2;
    top: calc(50% - #{$step__round-size} /2 );
}

.button-step__text {
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 20px;
    vertical-align: middle;
}

.button-step__icon {
    color: darken($grey,50%);
    align-self: center;
}

.button-step__icon--active {
    color: $primary-color;
}

//Si une icone se trouve à côté d'un texte, alors ajouter 20px de margin left au texte

.button-step__icon + .button-step__text {
    margin-left: $margin-m;
}