//card restaurant

.card-restaurant {
    flex-grow: 1;
    flex-basis: 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 230px;
    height: 250px;
    margin-bottom: 20px;
    margin-right: $margin-r;
    box-shadow: $blur-shadow; 

    &:hover {
        transition: 1s ease-out;
        box-shadow: $dark-shadow;
    }
}

.card-restaurant__figure {
    height: 66%; //magic number
    position: relative;
}

.card-restaurant__img {
    @extend .img-size;
}

.card-restaurant__new {
    position: absolute;
    top: 15px;
    right: 15px;
    background: $tertiary-color;
    color: darken($tertiary-color, 45%);
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.card-restaurant__body {
    display: flex;
    padding: 20px 25px 20px 15px;  
    width: 100%;
}

.card-restaurant__text {
    text-overflow: ellipsis;
}

.card-restaurant__icon {
    position: relative;
    font-size: 30px;
    margin-left: auto;
    -webkit-text-stroke: 1.5px white;
}

//carte restaurant pour la page de menu

.card-restaurant--fit {
    display: flex;
    justify-content: space-between;
    animation: gradual-onset 1s ease-in-out;
    height: auto;
}

.card-restaurant__price {
    font-weight: $font-weight-bold;
    margin-left: auto;
    align-self: flex-end;
}


/*
.card-restaurant--fit::after {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: 900;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: white;
    background-color: $tertiary-color;
}
*/