//card restaurant

.card-restaurant {
    flex-grow: 1;
    flex-basis: 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    min-width: 225px;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: $blur-shadow; 
}

.card-restaurant__figure {
    height: 66%; //magic number
}

.card-restaurant__img {
    @extend .img-size;
}

.card-restaurant__body {
    display: flex;
    padding: 20px 25px 20px 15px;  
}

.card-restaurant__icon {

    &:hover {
    }
}

//si l'icone est à droite d'un texte, ajouter un margin left)
.card-restaurant__text + .card-restaurant__icon {
    margin-left: auto;
}

