//Section localisation

.localisation {
    background-color: darken($grey, 5%);
    padding: $padding-m;
    text-align: center;

    input {
        background-color: darken($grey, 5%);
        border: none;
        margin-left: $margin-s;
        width: 110px; //width temporaire, pour la présentation de la maquette
        &::placeholder {
            color: black;
        }
    }
}

//Présentation du concept

.presentation {
    background-color: $grey;
    padding: $padding-l $padding-m;
    text-align: center;

    &__text {
        font-weight: $font-weight-light;
        margin-bottom: 30px;
    }
}

//section fonctionnement du site

.function {
    @extend .max-container;
    padding: $padding-l $padding-m;

    &__container {
        display: flex;
        flex-wrap: wrap;
        margin-right: -$margin-m;
    }
}

//section présentation des restaurants

.restaurant {
    background-color: $grey;
    padding: $padding-l 0;

    &__container {
        @extend .max-container;

        .restaurant__presentation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: -$margin-m;
        }
    } 
}

