.figure {
    height: 450px;

    .figure__img {
        @extend .img-size;
    }
}

.menu {
    position: relative;
    z-index: 1;
    margin-top: -40px;
    background-color: $grey;
    border-radius: 40px 40px 0 0;
    padding: 35px $padding-l-r 85px $padding-l-r;
}

.menu__title-container {
    display: flex;
    padding-right: 40px;
}

.menu__hilighted {
    width: 40px;
    border-bottom: solid 3px $tertiary-color;
    margin-bottom: 15px;
}

.menu__main-container {
    display:flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.menu__dish-container {
    flex-grow: 1;
    margin-right: 20px;
}

.container-button {
    margin-top: 50px;
    text-align: center;
}

//typography comportement in menu page

.menu__title-restaurant {
    font-family: $font-family-serif;
    letter-spacing: 0.05rem;
  }
  
  .menu__title {
    font-weight: $font-weight-light;
    text-transform: uppercase;
    margin-top: 40px;
  }