.figure {
    height: 450px;

    .figure__img {
        @extend .img-size;
    }
}

.menu {
    position: relative;
    z-index: 1;
    margin-top: -$margin-l;
    background-color: $grey;
    border-radius: $border-radius-l $border-radius-l 0 0;
    padding: 35px $padding-m 85px $padding-m;
}

.menu__max-container {
    @extend .max-container;
}

.menu__title-container {
    display: flex;
    padding-right: $padding-l;
}

.menu__hilighted {
    width: 40px;
    border-bottom: solid 3px $tertiary-color;
    margin-bottom: $margin-m;
}

.menu__main-container {
    display:flex;
    flex-wrap: wrap;
    margin-right: -$margin-m;
}

.menu__dish-container {
    flex-grow: 1;
}

.container-button {
    margin-top: $margin-l;
    text-align: center;
}

//typography comportement in menu page

.menu__title-restaurant {
    font-family: $font-family-serif;
    letter-spacing: 0.05rem;
    margin-bottom: $margin-l;
  }
  
  .menu__title {
    font-weight: $font-weight-light;
    text-transform: uppercase;
    
  }